# OS and IDE Files
*.swp
*~
._*
.DS_Store
*.ipr
*.iml
*.iws
.idea/

# Python 3 caching
__pycache__
*.pyc
.cache
*.egg-info

# Unit test stuff
test_results.xml
.coverage
htmlcov/
*,cover

# Rope Project stuff
.ropeproject

# Emacs swap files
*~

# vim swap files
*.swp
